body {
    font-family: "Lato", sans-serif;
}
.bodyContent {
    padding-bottom: 110px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    background: #6cf;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 0 0 18rem;
    margin: 1rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 60px; /* Footer height */
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #f8f9fa;
}

.commit {
    padding: 25px;
    line-height: 6;
    font-size: 23px;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.content {
    font-size: 18px;
    font-family: monospace;
    color: #8f8c8c;
}
