body {
    font-family: "Lato", sans-serif;
}

.bodyContent {
    padding-bottom: 110px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.myFooter {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #fafafa;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 0 0 18rem;
    margin: 1rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.search-bar {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    text-align: left;
    border-bottom: 2px solid black;
}

tbody tr:hover {
    background: rgba(49, 49, 49, 0.3);
    cursor: pointer;
}

thead button {
    color: white;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
}

thead button:hover {
    background: rgba(142, 142, 142, 0.3);
}

.ReactPaginate {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.ReactPaginate ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.ReactPaginate li {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px 20px;
    list-style-type: none;
}

.ReactPaginate li.active {
    background-color: #ccc;
}

.ReactPaginate li:hover {
    background-color: #f0f0f0;
}

.ReactPaginate li.disabled {
    color: #ccc;
    cursor: not-allowed;
}
